.wow {
  width: 100px;
}

body {
  margin: 0px;
}

.main-content {
  margin: 8px;
}

.main-section {
  display:none;
}

.light-mode {
  color:black; background-color:white;
}
.dark-mode {
  color:white; background-color: black;
}

.card-body {
  color: grey;
}