.wow {
  width: 100px;
}

body {
  margin: 0px;
}

.main-content {
  margin: 8px;
}

.main-section {
  display:none;
}

.my-card__media {
  background-image: url("");
}

.my-card-description {
  font-size: larger;
  margin-left: 8px;
}
.my-card-title {
  font-size: larger;
}
.my-card-content {
  font-size: larger;
  margin-left: 8px;
  margin-right: 8px;
  padding: 16px;
}

.light-mode {
  color:black; background-color:white;
}
.dark-mode {
  color:blue; background-color: black;
}