.wow {
  width: 100px;
}
html, body {
  height: 100%;
  margin: 0px;
}

.main-content {
  height: 100%;
}

.main-section {
  height:100%;
  display:none;
}
#currentLoc{
  margin-top: 50px;
}

.my-card__media {
  background-image: url("");
}

.my-card-description {
  font-size: larger;
  margin-left: 8px;
}
.my-card-title {
  font-size: larger;
}
.my-card-content {
  font-size: larger;
  margin-left: 8px;
  margin-right: 8px;
  padding: 16px;
}

.light-mode {
  color:black; background-color:white;
}
.dark-mode {
  color:blue; background-color: black;
}

#map {
  height: 100%;
  width: 100%;
  margin: "0px";
  padding: "0px"
}
.map-height {
  height: 100%;
}
.weather-card{
  margin: "8px";
}